altgraph==0.17.5
asgiref==3.8.1
attrs==26.1.0
autobahn==25.12.2
Automat==25.4.16
bottle==0.13.4
cbor2==6.0.1
certifi==2026.2.25
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.7
clr_loader==0.2.10
comtypes==1.4.11
constantly==23.10.4
cryptography==48.0.0
daphne==4.2.1
Django==5.1.5
fpdf==1.7.2
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
lxml==6.0.0
MouseInfo==0.1.3
msgpack==1.1.2
mysqlclient==2.2.7
packaging==26.1
pefile==2024.8.26
pillow==11.2.1
proxy_tools==0.1.0
psycopg2==2.9.12
py-ubjson==0.16.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
PyAutoGUI==0.9.54
pycparser==3.0
pygame==2.6.1
pygbag==0.9.2
PyGetWindow==0.0.9
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.4
pymodbus==3.9.2
pyModbusTCP==0.3.0
PyMsgBox==1.0.9
pyOpenSSL==26.2.0
pyperclip==1.9.0
PyRect==0.2.0
PyScreeze==1.0.1
pyserial==3.5
python-docx==1.2.0
pythonnet==3.0.5
pytweening==1.2.0
pyusb==1.3.1
pywebview==6.2.1
pywin32==310
pywin32-ctypes==0.2.3
pywinauto==0.6.9
reportlab==4.4.1
requests==2.33.1
service-identity==24.2.0
setuptools==82.0.1
six==1.17.0
sqlparse==0.5.3
Twisted==25.5.0
txaio==25.12.2
typing_extensions==4.14.1
tzdata==2025.1
ujson==5.12.1
urllib3==2.6.3
usb==0.0.83.dev0
waitress==3.0.2
whitenoise==6.12.0
zope.interface==8.4
